<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
<form action="#" th:action="@{/mvc/currencies/convert}" th:object="${conversionCurrency}"
      method="POST">
    <div class="blu-margin">
        <select class="form-control" th:field="*{currencyToConvertFrom}" id="dropFromCurrency">
            <option value="">Choose currency you want to convert from</option>
            <option th:each="currency : ${conversionRates.currencyUnits}"
                    th:value="${currency}"
                    th:text="${currency}">
            </option>
        </select>
        <select class="form-control" th:field="*{currencyToConvertTo}" id="dropToCurrency">
            <option value="">Choose currency you want to convert to</option>
            <option th:each="currency : ${conversionRates.currencyUnits}"
                    th:value="${currency}"
                    th:text="${currency}">
            </option>
        </select>
        <div class="form-group">
            <input type="text" class="form-control"
                   name="amountOfMoneyToConvert"
                   id="amountOfMoneyToConvert"
                   placeholder="e.g. 500"
                   th:field="*{amount}">
        </div>
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Convert</button>
    </div>
</form>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
